{% if is_granted('ROLE_ADMIN') %}
    {% set layout = "EPAdminBundle::layout.html.twig" %}
{% else %}
    {% set layout = "EPUploadBundle::layout.html.twig" %}
{% endif %}
{% extends layout %}

{% block title %}
    Mes messages
    {{ parent() }}
{% endblock %}

{% block layout_body %}

<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7">

        <h1>
            Boite de messages
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('ep_send_message') }}" class="btn btn-info pull-right"><i class="fa fa-plus"></i>  Nouveau</a> 
            {% endif %}
        </h1>
        <ul class="messagesList">
            {% for thread in threads %}
                <a href="{{ path('ep_messages', { 'id' : thread.id }) }}">
                    <li {% if not fos_message_is_read(thread) %} style="font-weight: bold" {% endif %}>
                        <span class="from col-lg-2">
                            {% if fos_message_is_read(thread) %} 
                                <i class="fa fa-envelope-o"></i>
                            {% else %}
                                <i class="fa fa-envelope"></i>
                            {% endif %}
                            {{ thread.createdBy.username }}</span>
                        <span class="title col-lg-8">
                            {{ thread.subject }}
                        </span>
                        <span class="date col-lg-2">
                            {% if ("now"|date('d/M/y')) == (thread.createdAt|date('d/M/y')) %}
                                Aujourd'hui, à {{ thread.createdAt|date("h:m") }}
                            {% elseif ("now"|date("y") == (thread.createdAt|date("y"))) %}
                                {{ thread.createdAt|date("d M") }}
                            {% else %}
                                {{ thread.createdAt|date("d M y") }}
                            {% endif %}
                            
                        </span>
                    </li>
                </a>
            {% else %}
                <span>Vous n'avez aucun message dans votre boite de réception !</span>
            {% endfor %}
        </ul>
    </div>

    {% if thread is not null %}
        <div class="col-lg-5 col-md-5 col-sm-5 dark"> 
            <div class="message-view">
                <div class="message">
                    <div class="header">
                        <h1>{{ thread.subject }}</h1>
                        <div class="from"><i class="halflings user"></i> <b>{{ thread.createdBy }}</b> / {{ thread.createdBy.email }}</div>
                        <div class="date"><i class="halflings time"></i> 
                            {% if ("now"|date('d/M/y')) == (thread.createdAt|date('d/M/y')) %}
                                Aujourd'hui, à {{ thread.createdAt|date("h:m") }}
                            {% elseif ("now"|date("y") == (thread.createdAt|date("y"))) %}
                                {{ thread.createdAt|date("d M") }}
                            {% else %}
                                {{ thread.createdAt|date("d M y") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="content">
                        {% for message in thread.messages %}
                            {{ message.body | raw }}
                        {% endfor %}
                    </div>
                    
                    {% if thread.messages[0].file is not null %}
                        {% set file = thread.messages[0].file %}
                        <div class="attachments">
                            <ul>
                                <li>
                                    <img src="{{ asset_if('img/filetypes/ico/' ~ file.ext ~ '.ico', 'img/filetypes/ico/unknown.ico') }}" height="40px"> 
                                    <b>{{ file.name }}</b>
                                    <span class="quickMenu">
                                        <a class="fa fa-download fa-2x" href="{{ path('ep_download_file', { 'fileId' : file.id}) }}"><i></i></a>
                                    </span>
                                </li>
                            </ul>       
                        </div>
                    {% endif %}


    <!--                     <div class="attachments">
                        <ul>
                            <li>
                                <span class="label label-important">zip</span> <b>bootstrap.zip</b> <i>(2,5MB)</i>
                                <span class="quickMenu">
                                    <a class="glyphicons search" href="page-inbox.html#"><i></i></a>
                                    <a class="glyphicons share" href="page-inbox.html#"><i></i></a>
                                    <a class="glyphicons cloud-download" href="page-inbox.html#"><i></i></a>
                                </span>
                            </li>
                        </ul>       
                    </div>
    -->
                </div>
            </div>
        </div>
    {% endif %}

</div>



{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">$(window).on("load",function(){}).trigger("resize")</script>
{% endblock %}
