{% if is_granted('ROLE_ADMIN') %}
    {% set layout = "EPAdminBundle::layout.html.twig" %}
{% else %}
    {% set layout = "EPUploadBundle::layout.html.twig" %}
{% endif %}
{% extends layout %}


{% block title %}EPUploadBundle:MessagesController:messages{% endblock %}

{% block layout_body %}

<div class="row">
    <div class="col-lg- col-md-5 col-sm-5">

        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-comment"></i><span class="break"></span>Discussion active</h2>
            </div>
            <div class="box-content">
                
                {% if currentThread is null %}
                    Aucune discussion ouverte pour le moment.
                {% else %}
                    <ul class="chat">
                        {% for message in currentThread.messages %}                            
                                <li class="{% if message.sender == app.user %}right{% else %}left{% endif %}">
                                    <img class="avatar" src="http://lorempixel.com/48/48/"></img>
                                    <span class="message">
                                        <span class="arrow"></span>
                                        <span class="from">{{ message.sender.username }}</span>
                                        <span class="text">{{ message.body }}</span>
                                    </span>
                                </li>
                        {% endfor %}                        
                    </ul>
                    <div class="chat-form">
                        {{ form_start(form) }}
                            {{ form_widget(form.Message, { 'attr' : { 'style' : 'overflow: hidden; word-wrap: break-word; resize: horizontal; height: 80px;'}}) }}
                            {{ form_widget(form.Envoyer, { 'attr' : { 'class' : 'btn btn-info'}}) }}

                        {{ form_end(form)}}
                    </div>
                {% endif %}

            </div>
        </div>
       

    </div>
    <div class="col-lg-7 col-md-7 col-sm-7">

        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-envelope-o"></i><span class="break"></span>Mes discussions</h2>
                <div class="box-icon">
                    <a href="{{ path('ep_send_message') }}"><i class="fa fa-plus"></i> Nouvelle discussion</a>
                </div>
            </div>
            <div class="box-content">
                
                <ul class="messagesList">
                    {% for thread in threads %}
                        <a href="">
                            <li>
                                <span class="from">{{ thread.createdBy.username }}</span>
                                <span class="title" {% if not fos_message_is_read(thread) %} style="font-weight: bold" {% endif %}>
                                    {% if not fos_message_is_read(thread) %} <span class="label label-success">new!</span> {% endif %}
                                    {{ thread.subject }}
                                </span>
                            </li>
                        </a>
                    {% else %}
                        <span>Vous n'avez aucun message dans votre boite de réception !</span>
                    {% endfor %}
                </ul>


            </div>
        </div>

    </div>
    
</div>





{% endblock %}
