{% extends "EPUploadBundle::layout.html.twig" %}

{% block title %}EPUploadBundle:MessagesController:messages{% endblock %}

{% block layout_body %}

<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-7">

        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-comment"></i><span class="break"></span>Discussion active</h2>
            </div>
            <div class="box-content">
                
                {% if currentThread is null %}
                    Aucune discussion ouverte pour le moment.
                {% else %}
                    <ul class="chat">
                        {% for message in currentThread.messages %}                            
                                <li class="{% if message.sender == app.user %}left{% else %}right{% endif %}">
                                    <img class="avatar" src="http://lorempixel.com/48/48/"></img>
                                    <span class="message">
                                        <span class="arrow"></span>
                                        <span class="from">{{ message.sender.username }}</span>
                                        <span class="text">{{ message.body }}</span>
                                    </span>
                                </li>
                        {% endfor %}                        
                    </ul>
                {% endif %}

            </div>
        </div>
       

    </div>
    <div class="col-lg-5 col-md-5 col-sm-5">

        <div class="box">
            <div class="box-header">
                <h2><i class="fa fa-envelope-o"></i><span class="break"></span>Mes discussions</h2>
                <div class="box-icon">
                    <a href="{{ path('ep_send_message') }}"><i class="fa fa-plus"></i> Nouvelle discussion</a>
                </div>
            </div>
            <div class="box-content">
                
                <h2>Boite de réception</h2>
                <ul class="messagesList">
                    {% for thread in threadsIn %}
                        
                    {% else %}
                        <span>Vous n'avez aucun message dans votre boite de réception !</span>
                    {% endfor %}
                </ul>

                <h2>Boite d'envoi</h2>
                <ul class="messagesList">
                    {% for thread in threadsOut %}
                        <a href="">
                            <li>
                                <span class="from">{{ thread.createdBy.username }}</span>
                                <span class="title" {% if not fos_message_is_read(thread) %} style="font-weight: bold" {% endif %}>
                                    {% if not fos_message_is_read(thread) %} <span class="label label-success">new!</span> {% endif %}
                                    {{ thread.subject }}
                                </span>
                            </li>
                        </a>
                    {% else %}
                        <span>Vous n'avez aucun message dans votre boite d'envoi !</span>
                    {% endfor %}
                </ul>

            </div>
        </div>

    </div>
    
</div>





{% endblock %}
