  {% trans_default_domain 'FOSUserBundle' %}

{% if is_granted('ROLE_ADMIN') %}
    {% set layout = "EPAdminBundle::layout.html.twig" %}
{% else %}
    {% set layout = "EPUploadBundle::layout.html.twig" %}
{% endif %}
{% extends layout %}

{% block title %}
    Profil
    {{ parent() }}
{% endblock %}

{% block layout_body %}
    {% block body %}



<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="widget_p no-margin">
      <div class="widget-header">
        <div class="title">
          Votre Profil
        </div>
        <span class="tools">
          <i class="fa fa-cogs"></i>
        </span>
      </div>
      <div class="widget-body">
        <div class="row">


                        <div class="col-md-5" style="font-size:18px">
                            <h3>Information</h3>
                            <dl class="dl-horizontal">
                                <dt>Nom : </dt><dd>{{ user.nom }}</dd>
                                <dt>Prénom: </dt><dd>{{ user.prenom }}</dd>
                                <dt>Adresse Email: </dt><dd>{{ user.email }}</dd>
                                <dt>Société: </dt><dd>{{ user.societe }}</dd>
                                <dt>Adresse: </dt><dd>{{ user.adresse }}</dd>
                                <dt>Code postal: </dt><dd>{{ user.codepostal }}</dd>
                                <dt>Ville: </dt><dd>{{ user.ville }}</dd>
                                <dt>Pays: </dt><dd>{{ user.pays }}</dd>
                                <dt>Téléphone: </dt><dd>{{ user.telephone }}</dd>
                            </dl>
                              <a class="btn btn-info" href="{{ path('fos_user_profile_edit') }}">
                                Modifier
                              </a>
                        </div>
                            <div id="carte" class="col-md-7" style="height : 400px;"></div>

        </div>
      </div>
    </div>
  </div>
</div>














    {% endblock %}
{% endblock %}


{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="http://maps.google.com/maps/api/js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
                var adresse = {
                    "adresse" : "{{ user.adresse }}",
                    "code_postal" : "{{ user.codepostal }}",
                    "ville" : "{{ user.ville }}",
                    "pays" : "{{ user.pays }}",
                    "lat" : null,
                    "lng" : null
                }

                console.log(adresse["adresse"]+" "+adresse["ville"]);

                $.ajax({
                  "method" : "GET",
                  "url" : "http://nominatim.openstreetmap.org/search",
                  "data" : {
                    "format" : "json",
                    // Utilisation de $("<div/>").html(a_string).text() pour décoder les caractères html ( &#039; deviens ' )
                    "q" : $("<div/>").html(adresse["adresse"]+" "+adresse["ville"]).text()
                  },
                  success: function(data) {
                      if (data.length !== 1) {
                          var carte = new google.maps.Map(document.getElementById("carte"), {
                              center: new google.maps.LatLng(47.0805693,2.398932),
                              zoom: 5,
                              mapTypeId: google.maps.MapTypeId.ROADMAP
                          });

                          noty({
                              'text' : 'Impossible de déterminer l\'emplacement de cette adresse',
                              'layout' : 'topRight',
                              'type' : 'error'
                          });
                      } else {

                          var latlng = new google.maps.LatLng(parseFloat(data[0].lat), parseFloat(data[0].lon));
                          var carte = new google.maps.Map(document.getElementById("carte"), {
                              center: latlng,
                              zoom: 15,
                              mapTypeId: google.maps.MapTypeId.ROADMAP
                          });
                          var marqueur = new google.maps.Marker({
                              position: latlng,
                              map: carte
                          });
                      }

                  },
                  error: function(errors) {

                  }
                })

      })

        </script>

{% endblock %}