<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}

        {% stylesheets filter='cssrewrite' output='css/compiled/style'
            'css/bootstrap.min.css'
            'css/style.min.css'
            'css/retina.min.css'
            'css/ESAY-Platform.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>

    {% include "::topbar.html.twig" %}
    
    <div class="container">
        <div class="row">
            
            <div id="sidebar-left" class="col-sm-1">
                <div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
                    <ul class="nav nav-tabs nav-stacked main-menu">
                        <li class="hidden-xs hidden-sm hidden-md show-lg"><img src="{{ asset('logo/logo-notext.svg') }}" width="100px" style="margin-bottom: 15px; margin-top:15px"></li>
                        <li class="hidden-xs hidden-sm show-md hidden-lg"><img src="{{ asset('logo/logo-notext.svg') }}" width="75px" style="margin-bottom: 10px; margin-top:10px"></li>
                        <li class="hidden-xs show-sm hidden-md hidden-lg"><img src="{{ asset('logo/logo-notext.svg') }}" width="50" style="margin-bottom: 5px; margin-top:5px"></li>

                        {% block menu %}
                        {% endblock %}
                        
                    </ul>
                </div>
            </div>
            <a id="main-menu-toggle" class="hidden-xs open"><i class="fa fa-bars"></i></a>

            <div id="content" class="col-sm-11">
                <div class="row">
                    {% block layout_body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
    
    {% include "::footer.html.twig" %}

{% block javascripts %}
    {% javascripts output='js/compiled/script'
    'js/jquery-2.1.0.min.js'

    'js/jquery-migrate-1.2.1.min.js'
    'js/bootstrap.min.js'

    'js/jquery-ui-1.10.3.custom.min.js'
    'js/jquery.sparkline.min.js'
    'js/jquery.flot.min.js'
    'js/jquery.flot.pie.min.js'
    'js/jquery.flot.stack.min.js'
    'js/jquery.flot.resize.min.js'
    'js/jquery.flot.time.min.js'
    'js/retina.min.js'
    'js/raphael.min.js'
    'js/justgage.1.0.1.min.js'

    'js/custom.min.js'
    'js/core.min.js'

    'js/pages/index.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
