{% trans_default_domain 'FOSUserBundle' %}

<h2>Enregistrement</h2>
{{ form_start(form, {'attr': {'class' : 'form-horizontal'}}) }}
    
    <div class="container">
        {{ form_errors(form) }}
        {{ form_errors(form.username) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_errors(form.plainPassword.second) }}
        {{ form_errors(form.email) }}
    </div>
{# <div class="col-lg-6"> #}
    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        {{ form_widget(form.username, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'form.username' }}) }}
    </div>


{#     <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        {{ form_widget(form.prenom, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'Prénom' }}) }}
    </div>

 #}
    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        {{ form_widget(form.nom, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'Nom' }}) }}
    </div>

{#     <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="fa fa-suitcase"></i></span>
        {{ form_widget(form.societe, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'Société' }}) }}
    </div>
 #}
    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        {{ form_widget(form.plainPassword.first, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'form.password' }}) }}
    </div>    

    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        {{ form_widget(form.plainPassword.second, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'form.password_confirmation' }}) }}
    </div>    

    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        {{ form_widget(form.email, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'form.email' }}) }}
    </div>
{# </div>
<div class="col-lg-6">
    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="fa fa-home"></i></span>
        {{ form_widget(form.adresse, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : '1 rue exemple' }}) }}
    </div>


    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="fa fa-home"></i></span>
        {{ form_widget(form.codepostal, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : '75000' }}) }}
    </div>


    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="fa fa-home"></i></span>
        {{ form_widget(form.ville, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'Paris' }}) }}
    </div>

    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="fa fa-home"></i></span>
        {{ form_widget(form.pays, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'France' }}) }}
    </div>

    <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
        {{ form_widget(form.telephone, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'Numéro de téléphone' }}) }}
    </div>    #} 

{#     <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        {{ form_widget(form.plainPassword.second, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'form.password_confirmation' }}) }}
    </div>   #}  

{#     <div class="input-group" style="margin-bottom: 25px">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        {{ form_widget(form.email, {'label': false, 'attr' : {'class' : 'form-control', 'placeholder' : 'form.email' }}) }}
    </div>    #}            

    <div class="form-group">
        <!-- Button -->
        <div class="col-sm-12 controls">
            <button type="submit" href="#" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> S'enregistrer</button>                          
        </div>
    </div>
{# </div> #}
<p>Vous avez un compte ? Alors il ne vous reste qu'a <a href="{{ path('fos_user_security_login') }}">vous connecter</a> avec !<p>
    
    
{{ form_end(form) }}


