{% extends "EPUserBundle::default.html.twig" %}

{% block EPUserBundleBody %}

	Hello {{ app.user.username }}
	
	<br/>
	
	{% if app.user.association is null %}
		Vous ne faites partie d'aucune association !<br/>
		Vous pouvez <a href="{{ path('ep_association_create') }}">En créer une</a><br/>
		Vous pouvez <a href="{{ path('ep_association_join') }}">En rejoindre une existante</a>
	{% else %}
		{% if is_granted("ROLE_ADMIN") %}
			Vous êtes gérant de {{app.user.association.name}}
		{% else %}
			Vous êtes employé de {{app.user.association.name}}
		{% endif %}
		<br/>
		Vous pouvez <a href="{{ path('ep_association_leave') }}">Quitter l'association</a>
	{% endif %}
	
{% endblock %}
