{% extends "EPUploadBundle::layout.html.twig" %}

{% block body %}

{# {{ include('EPUploadBundle:Upload:form.html.twig') }} #}

<h2>Mes clients</h2>



<nav id="navbar" class="navbar" role="navigation">
    <form class="col-lg-10">
        
        <div class="col-lg-3">
        <div class="form-group">
            <label for="type" class="control-label col-md-6">Rechercher : </label>
            <div class="col-md-6">
            <select name="type" class="form-control">
                <option value="nom" {% if app.request.query.get('type') == "nom" %}selected="selected"{% endif %}>Par nom</option>
                <option value="prenom" {% if app.request.query.get('type') == "prenom" %}selected="selected"{% endif %}>Par prénom</option>
                <option value="societe" {% if app.request.query.get('type') == "societe" %}selected="selected"{% endif %}>Par société</option>
                <option value="telephone" {% if app.request.query.get('type') == "telephone" %}selected="selected"{% endif %}>Par téléphone</option>
                <option value="mobile" {% if app.request.query.get('type') == "mobile" %}selected="selected"{% endif %}>Par mobile</option>
                <option value="email" {% if app.request.query.get('type') == "email" %}selected="selected"{% endif %}>Par email</option>    
            </select>
            </div>
        </div>
        </div>

        <div class="col-lg-5">
        <div class="form-group">
            <div class="input-group col-xs-12">
                <input type="text" class="form-control" placeholder="Search" name="search" value="{{ app.request.get('search') }}">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        </div>
        </div>

    </form>

    <div class="col-lg-2">
      <div class="col-lg-12">
        
          <a href="" class="btn btn-info">Ajouter un client</a>
      </div>
    </div>
</nav>



{% if clients is defined %}

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
                <div class="bs-example" >
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="col-xs-1">Société</th>
                        <th class="col-xs-1">Prénom</th>                      
                        <th class="col-xs-6">Nom</th>
                        <th class="col-xs-1">Téléphone</th>
                        <th class="col-xs-1">Mobile</th>
                        <th class="col-xs-1">Email</th>
                        <th class="col-xs-1"></th>   
                      </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                      <tr>
                      	<td>{{ client.societe }}</td>
                      	<td>{{ client.prenom }}</td>
                      	<td>{{ client.nom }}</td>
                      	<td>{{ client.telephone }}</td>
                      	<td>{{ client.mobile }}</td>
                      	<td>{{ client.email }}</td>
                        <td>
                          <a title="Supprimer" href="{{ path('ep_delete_client', { 'id' : client.id }) }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                          <a title="Modifier" href="{{ path('ep_modify_client', {'id' : client.id }) }}" class="btn btn-info"><i class="fa fa-edit"></i></a>

                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
          </div>
      </div>
  </div>

{% endif %}
{% endblock %}