{% extends "EPUploadBundle::layout.html.twig" %}

{% block body %}

{# {{ include('EPUploadBundle:Upload:form.html.twig') }} #}

<h2>Mes clients</h2>

<a href="{{path("ep_edit_client")}}" class="btn btn-red pull-right" ><i class="fa fa-plus"></i> Nouveau client</a>
{% if clients is defined %}

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
                <div class="bs-example" >
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="col-xs-1">Société</th>
                        <th class="col-xs-1">Prénom</th>                      
                        <th class="col-xs-6">Nom</th>
                        <th class="col-xs-1">Téléphone</th>
                        <th class="col-xs-1">Mobile</th>
                        <th class="col-xs-1">Email</th>
                        <th class="col-xs-1"></th>   
                      </tr>
                    </thead>
                    <tbody>
                    {% for client in clients %}
                      <tr>
                      	<td>{{ client.societe }}</td>
                      	<td>{{ client.prenom }}</td>
                      	<td>{{ client.nom }}</td>
                      	<td>{{ client.telephone }}</td>
                      	<td>{{ client.mobile }}</td>
                      	<td>{{ client.email }}</td>
                        <td>
                          <a title="Supprimer" href="{{ path('ep_delete_client', { 'id' : client.id }) }}" class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                          <a title="Modifier" href="{{ path('ep_modify_client', {'id' : client.id }) }}" class="btn btn-default"><i class="fa fa-edit"></i></a>

                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
          </div>
      </div>
  </div>

{% endif %}
{% endblock %}