{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div class="container">   
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    </div>
{% endif %}








    <h2>Connexion</h2>
    <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST" action="{{ path("fos_user_security_check") }}">
        <fieldset>
            <div class="input-wrap">
            <div class="input-prepend input-group" title="Username">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input id="username" name="_username" value="{{ last_username }}" required="required" type="text" class="form-control" placeholder="{{ 'security.login.username'|trans }}">
            </div>
            </div>
            <div class="input-wrap">
            <div class="input-prepend input-group" title="Password">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input id="password" type="password" class="form-control" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required">
            </div>
            </div>
            <label class="remember" for="remember_me"> <input type="checkbox" id="remember_me remember" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans }}</label>

            <div class="button-login">  
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
            <div class="clearfix"></div>
    </form>
    <hr>
    <h3>Pas de compte ?</h3>
    <p>
        Pas de problème ! <a href="{{ path('fos_user_registration_register') }}">Cliquez ici</a> pour en créer un.
    </p>

{% endblock fos_user_content %}
