{{ form_start(userForm) }}
    <div class="modal-body">

        <div class="row">
            <div class="col-sm-8 col-sm-push-2">
                {{ form_label(userForm.canEditFacture, 'Editer des factures', { 'attr' : { 'class' : 'label-control' }}) }}
                <label class="switch switch-success pull-right">
                   {{ form_widget(userForm.canEditFacture, { 'attr' : { 'class' : 'switch-input' }}) }}
                    <span data-off="Off" data-on="On" class="switch-label"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>
        </div>                    

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        {{ form_widget(userForm.Valider, { 'attr' : { 'class' : 'btn btn-info' }}) }}
    </div>
{{ form_end(userForm) }}