{% extends "EPAdminBundle::layout.html.twig" %}

{% block body %}
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">
                Profil de {{ user.username }}
                <div class="box-icon">
                    <a class="btn-setting" href="{{ path('ep_set_rights', { 'username' : user.username }) }}">Ajouter / Supprimer des droits</a>
                </div>
            </div>
            <div class="box-content">

                

            </div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header">Fichiers de {{ user.username }}</div>
            <div class="box-content">
                {% include "EPUploadBundle:Upload:navbar.html.twig" %}

                {% include 'EPUploadBundle:Upload:list.html.twig' with { 'docs' : docs, } %}
            </div>
        </div>
    </div>







{#
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content" id="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Ajouter / Supprimer des droits</h4>
                </div>
                    
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
#}

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Supprimer un fichier</h4>
                </div>
                <div id="place_delete_form">
                    
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}


{% block javascripts %}
    {{ parent() }}
     <script type="text/javascript" src="{{ asset('js/pages/deleteFiles.js') }}"></script>

{% endblock %}