{% extends "EPUploadBundle::layout.html.twig" %}
{% form_theme form 'EPUploadBundle:Facture:formProduit.html.twig' %}

{% block body %}

{# {{ include('EPUploadBundle:Upload:form.html.twig') }} #}

<h2>Nouvelle facture</h2>

{# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

{# Le formulaire reste inchangé #}
<div class="well">
    {{ form_start(form) }}
    <div class="col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading">Client</div>
            <div class="panel-body">
                
                <div class="form-group">
                  {{ form_label(form.client, "Client", {'label_attr': {'class': 'col-md-12 control-label'}}) }}
                  <div class="col-md-12">
                    {{ form_widget(form.client, {'attr': {'class': 'form-control input-md','placeholder':'ex: Dupont'}}) }}
                  </div>
                </div>

                <div class="form-group">
                  {{ form_label(form.destinataire, "Destinataire", {'label_attr': {'class': 'col-md-12 control-label'}}) }}
                  <div class="col-md-12">
                    {{ form_widget(form.destinataire, {'attr': {'class': 'form-control input-md','placeholder':'ex: Dupont'}}) }}
                  </div>
                </div>

                <div class="form-group">
                  {{ form_label(form.objet, "Objet", {'label_attr': {'class': 'col-md-12 control-label'}}) }}
                  <div class="col-md-12">
                    {{ form_widget(form.objet, {'attr': {'class': 'form-control input-md','placeholder':'ex: Dupont'}}) }}
                  </div>
                </div>

                <div class="form-group">
                  {{ form_label(form.conditionPaiement, "Conditions de paiement", {'label_attr': {'class': 'col-md-12 control-label'}}) }}
                  <div class="col-md-12">
                    {{ form_widget(form.conditionPaiement, {'attr': {'class': 'form-control input-md','placeholder':'ex: Dupont'}}) }}
                  </div>
                </div>

                <div class="form-group">
                  {{ form_label(form.commentaires, "Commentaires", {'label_attr': {'class': 'col-md-12 control-label'}}) }}
                  <div class="col-md-12">
                    {{ form_widget(form.commentaires, {'attr': {'class': 'form-control input-md','placeholder':'ex: Dupont'}}) }}
                  </div>
                </div>

                <div class="form-group">
                  {{ form_label(form.echeance, "Echéance", {'label_attr': {'class': 'col-md-12 control-label'}}) }}
                  <div class="col-md-12">
                    {{ form_widget(form.echeance, {'attr': {'class': 'input-md','placeholder':'ex: Dupont'}}) }}
                  </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                Produits
                
                
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                    <div class="row">
                        
                        <div class="col-md-5">Produit</div>
                        <div class="col-md-2">Quantité</div>
                        <div class="col-md-2">Prix HT</div>
                        <div class="col-md-2">Prix TTC</div>

                    </div>
                    <hr />
                
                      {{ form_widget(form.produits) }}
                  


                <a href="#" id="add_produit" class="btn btn-success pull-right">Ajouter un produit</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="panel panel-success">
            <div class="panel-heading">Prix</div>
            <div class="panel-body">
              
              <div class="row">
                <div class="form-group">
                    {{ form_label(form.totalHT, "Prix HT", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                    {{ form_widget(form.totalHT, {'attr': {'class': 'form-control input-md'}}) }}
                    <div class="col-md-8">
                        <span id="montantTotalHT"></span> €
                    </div>
                </div>
              </div>
              
              <div class="row">
                <div class="form-group">
                    {{ form_label(form.montantTVA, "TVA", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                    {{ form_widget(form.montantTVA, {'attr': {'class': 'form-control input-md'}}) }}
                    <div class="col-md-8">
                        <span id="montantTVA"></span> €
                    </div>
                </div>
              </div>
              
              <div class="row">
                <div class="form-group">
                    {{ form_label(form.totalTTC, "Prix TTC", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                    {{ form_widget(form.totalTTC, {'attr': {'class': 'form-control input-md'}}) }}
                    <div class="col-md-8">
                        <span id="montantTotalTTC"></span> €
                    </div>
                </div>
              </div>
              
              <div class="row">
                <div class="form-group">
                    {{ form_label(form.pourcentage, "Remise", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                    <div class="col-md-8">
                      <div class="input-group">
                        {{ form_widget(form.pourcentage, {'attr': {'class': 'form-control input-md', 'min' : '0', 'max' : '100', 'value' : '0', 'onchange' : 'updatePrices()'}}) }}
                        <span class="input-group-addon">%</span>
                      </div>
                    </div>
                </div>
              </div>
              
              <div class="row">
                <div class="form-group">
                    {{ form_label(form.totalFacture, "Prix final", {'label_attr': {'class': 'col-md-4 control-label'}}) }}
                    {{ form_widget(form.totalFacture, {'attr': {'class': 'form-control input-md'}}) }}
                    <div class="col-md-8">
                        <span id="montantTotalFinal"></span> €
                    </div>
                </div>
              </div>

            </div>
        </div>
    </div>
  
    <div class="clearfix"></div>

    {{ form_end(form) }}


</div>

















{# On charge la bibliothèque jQuery. Ici, je la prends depuis le CDN google
   mais si vous l'avez en local, changez simplement l'adresse. #}
<script src="{{ asset('js/jquery.min.js') }}"></script>

{# Voici le script en question : #}
<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#ep_uploadbundle_facture_produits');

    // On ajoute un lien pour ajouter une nouvelle catégorie
    var $addLink = $('#add_produit');
    // $container.append($addLink);

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $addLink.click(function(e) {
      addProduit($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      addProduit($container);
    } else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
      $container.children('div').each(function() {
        addDeleteLink($(this));
      });
    }


    

    // La fonction qui ajoute un formulaire Categorie
    function addProduit($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g,(index+1) + " : ")
          .replace(/__name__/g, index));


      // $prototype.find("label").each(function(index){
      //     if (index !== 0) {
      //         $(this).addClass("form-label");
      //         $(this).addClass("col-md-2");
      //     } else {
      //         $(this).addClass("form-label");
      //         $(this).addClass("col-md-1");
      //     }
      // });

      // $prototype.find("input").each(function(index){
      //     if (index !== 0) {
      //         $(this).addClass("form-control");
      //         $(this).addClass("col-md-2");
      //     }
      // });




      var produits = {
          {% for produit in produits %}
              "{{ produit.id }}" : {
                  "prix" : "{{ produit.montantUnitaireHT }}",
                  "tva" : "{{ produit.tva }}"
              }
              {% if loop.index != loop.last %}
              ,
              {% endif %}
          {% endfor %}
      };

      $prototype.find("option").each(function(){
          var option = $(this);
          option.attr("data-prix", produits[$(this).attr("value")]["prix"]);
          option.attr("data-tva", produits[$(this).attr("value")]["tva"]);
      });


      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;

      updatePrices();
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      $deleteLink = $('<a href="#" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien
      $deleteLink.click(function(e) {
        $prototype.remove();
        updatePrices();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }





  });
</script>



<script type="text/javascript">
  // Fonction de mise à jour des prix
    function updatePrices() {
        var prixHTInput = $("#ep_uploadbundle_facture_totalHT");
        var TVAInput = $("#ep_uploadbundle_facture_montantTVA");
        var prixTTCInput = $("#ep_uploadbundle_facture_totalTTC");
        var remiseInput = $("#ep_uploadbundle_facture_pourcentage");
        var prixFinalInput = $("#ep_uploadbundle_facture_totalFacture");

        var prixHT = 0;
        var TVA = 0;
        var prixTTC = 0;
        var remise = remiseInput.val();
        var prixFinal = 0;

        $(".new_product").each(function(){
            var select = $(this).find("select");
            var qte = $(this).find("input").val();
            var product_price = parseInt(select.find("option[value='"+select.val()+"']").attr("data-prix"));
            var product_tva = parseInt(select.find("option[value='"+select.val()+"']").attr("data-tva"));
            var product_price_tva = product_price * (product_tva) / 100;

            prixHT += product_price * qte;
            TVA += product_price_tva * qte;

            $(this).find(".prixht").text(product_price * qte);
            $(this).find(".prixttc").text((product_price * (product_tva + 100) / 100 ) * qte);

        });

        prixTTC = prixHT + TVA;
        prixFinal = prixTTC - (prixTTC * remise / 100);

        prixHTInput.val(prixHT);
        $("#montantTotalHT").text(prixHT);
        TVAInput.val(TVA);
        $("#montantTVA").text(TVA);
        prixTTCInput.val(prixTTC);
        $("#montantTotalTTC").text(prixTTC);
        prixFinalInput.val(prixFinal);
        $("#montantTotalFinal").text(prixFinal);

    }

</script>


<script type="text/javascript">
    
    $(document).ready(function(){

        var clients = {
            {% for client in clients %}
              "{{ client.id }}" : {
                  "destinataire" : "{{ client.destinataire }}",
                  "conditionPaiement" : "{{ client.conditionPaiement }}"
              }


              {% if loop.index != loop.last %}
              ,
              {% endif %}
            {% endfor %}            
        };



        var select = $("#ep_uploadbundle_facture_client");
        select.find("option").each(function(){
            $(this).attr("data-destinataire", clients[$(this).attr("value")]["destinataire"]);
            $(this).attr("data-conditionPaiement", clients[$(this).attr("value")]["conditionPaiement"]);
        });

        $("#ep_uploadbundle_facture_client").change(function(){
            updateClientFields();
        });

        updateClientFields();
    });

    function updateClientFields()
    {
        var select = $("select#ep_uploadbundle_facture_client");
        var option = select.find("option[value='" + select.val() + "']");

        // console.log(option);
        // console.log("conditions paiement : "+option.attr("data-conditionPaiement"));
        $("#ep_uploadbundle_facture_destinataire").val(option.attr("data-destinataire"));

        $("#ep_uploadbundle_facture_conditionPaiement").val(option.attr("data-conditionPaiement"));
    }

</script>
{% endblock %}