{# {% extends "EPUploadBundle::layout.html.twig" %} #}

{# {% block ep_upload_form %} #}

{#
<div class="well">
<h2>Ajouter un document</h2>

</div>

<form method="post" {{ form_enctype(form) }} >
    <div class="row">    
           <div class="col-md-4 border">
            <!-- image-preview-filename input [CUT FROM HERE]-->
            <div class="input-group image-preview">
                <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
                <span class="input-group-btn">
                    <!-- image-preview-clear button -->
                    <button type="button" class="btn btn-default image-preview-clear" style="display:none;">
                        <span class="glyphicon glyphicon-remove"></span> Clear
                    </button>
                    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title">Browse</span>
                        {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
                        <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                    </div>
                </span>
            </div><!-- /input-group image-preview [TO HERE]--> 
                  {{ form_label(form.category, "Veuillez choisir la catégorie du fichier", {'label_attr': {'class': 'control-label marg'}}) }}
                     {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}

                     {{ form_widget(form.Envoyer, {'attr': {'class': 'btn btn-success save'}}) }}
        {{ form(form) }} 
        </div>

    </div>
#}


<div class="col-xs-10">
    <div class="form-group">
        <label class="control-label">Fichier</label>
        <div class="controls">
            <div id="dropzone">
                <form action="{{ app.request.uri }}" method="POST" class="dropzone">

                </form>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-2">
    {{ form_start(form) }}
        
        {{ form_label(form.category, "Catégorie") }}

        <div class="funkyradio">
            {% for choix in form.category %}
                <div class="funkyradio-danger {% if loop.index == 1 %}funkyradio-first{% endif %}">
                    {{ form_widget(choix) }}
                    {{ form_label(choix) }}
                </div>
            {% endfor %}
        </div>

        {{ form_widget(form.Envoyer, { 'attr' : { 'class' : 'btn btn-customRed btn-block'}}) }}
    {{ form_end(form) }}
</div>

<div class="clearfix"></div>