{% extends "::base.html.twig" %}

{% block body %}
<h1>Upload de fichier !</h1>
<div class="well">
	<div class="row">
		<div class="col-sm-3">
			<form method="post" {{ form_enctype(form) }} >
				{{ form(form) }}
			</form>
		</div>
		<div class="col-sm-3">
			<img 
			  src="{{ asset(file.webPath) }}"
			  alt="{{ file.alt }}"
			/> {# 
			<div style="height: 300px;width: auto;" class="">
				<object data="{{ asset(file.webPath) }}" type="text/html" codetype="application/pdf" ></object>
			</div> #}
		</div>
		<div class="col-sm-3">
			<iframe src="{{ asset(file.webPath) }}" width="300" height="300" align="middle"></iframe>
		</div>
	</div> 
</div>


<h1>Upload File</h1>
<div class="well">
<form action="#" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" value="Upload Document" />
</form>      </div> 
{% endblock %}