{# {% extends "EPUploadBundle::layout.html.twig" %} #}

{# {% block ep_upload_form %} #}


<div class="well">
<h2>Ajouter un document</h2>
	<form method="post" {{ form_enctype(form) }} >
		{{ form(form) }}
	</form>
</div>

{# {% endblock %} #}
{# 			<img 
			  src="{{ asset(file.webPath) }}"
			  alt="{{ file.alt }}"
			/> 
 #}
			{# 
			<div style="height: 300px;width: auto;" class="">
				<object data="{{ asset(file.webPath) }}" type="text/html" codetype="application/pdf" ></object>
			</div> #}
		{# <div class="col-sm-3">
			<iframe src="{{ asset(file.webPath) }}" width="300" height="300" align="middle"></iframe>
		</div> #}
