{% if docs is defined %}

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
                <div class="bs-example" >
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th >Extension</th>
                        <th class="col-xs-1">Catégorie</th>                      
                        <th>Nom</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for doc in docs %}
                      <tr>
                        <td style="width: 50px;">
                          <img src="{{ asset('img/file_icons/' ~ doc.ext ~ '.png') }}" height="50px">
                        </td>


                        {% if doc.category.name is defined %}
                          <td class="col-xs-1" style="vertical-align: middle">{{doc.category.name}}</td>    
                        {% else %}
                          <td class="col-xs-1" style="vertical-align: middle">Catégorie non identifiée</td>
                        {% endif %}      
                                   
                        <td style="vertical-align: middle">{{doc.name}}</td>
                        <td style="vertical-align: middle">

                          {% if (is_granted('ROLE_ADMIN')) %}
                            <a href="{{ path('ep_delete_file',{'id':doc.id }) }}" class="btn btn-default">X</a>
                          {% elseif doc.treated is null %}
                            <a href="{{ path('ep_delete_file',{'id':doc.id }) }}" class="btn btn-default">X</a>
                          {% else %}
                            traité le {{ doc.treated|date("Y-m-d") }}
                          {% endif %}

                          <a href="{{ path('ep_download_file', {'fileId':doc.id}) }}" class="btn btn-default">U</a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div><!-- /example -->
          </div>
      </div>
  </div>

{% endif %}