{% if docs is defined %}

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
                <div class="bs-example" >
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="col-xs-1">Extension</th>
                        <th class="col-xs-1">Catégorie</th>                      
                        <th class="col-xs-8">Nom</th>
                        <th class="col-xs-1">Status</th>
                        <th class="col-xs-1">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for doc in docs %}
                      <tr>
                        <td style="width: 50px;">
                          <img src="{{ asset('img/file_icons/' ~ doc.ext ~ '.png') }}" height="50px">
                        </td>


                        {% if doc.category.name is defined %}
                          <td class="col-xs-1" style="vertical-align: middle">{{doc.category.name}}</td>    
                        {% else %}
                          <td class="col-xs-1" style="vertical-align: middle">Catégorie non identifiée</td>
                        {% endif %}      
                                   
                        <td style="vertical-align: middle">{{doc.name}}</td>
                        
                        <td style="vertical-align: middle">
                          
                          {% if doc.treated is null %}
                            <span class="label label-info col-xs-10 col-xs-push-1">En attente</span>
                          {% else %}
                            <span class="label label-success col-xs-10 col-xs-push-1">Traité<br/>le {{ doc.treated|date("Y-m-d") }}</span>

                          {% endif %}

                        </td>


                        <td style="vertical-align: middle">

                          {% if (is_granted('ROLE_ADMIN')) %}
                            <a title="supprimer" href="{{ path('ep_delete_file',{'id':doc.id }) }}" class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                          {% elseif doc.treated is null %}
                            <a title="supprimer" href="{{ path('ep_delete_file',{'id':doc.id }) }}" class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                          {% else %}
                            <button disabled="disabled" class="btn btn-default" title="Ce document a été traîté. Pour le supprimer, contactez votre comptable."><i class="fa fa-trash-o"></i></button>
                            <!-- traité le {{ doc.treated|date("Y-m-d") }} -->
                          {% endif %}

                          <a title="télécharger" href="{{ path('ep_download_file', {'fileId':doc.id}) }}" class="btn btn-default"><i class="fa fa-download"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div><!-- /example -->
          </div>
      </div>
  </div>

{% endif %}