{% extends "EPUploadBundle::layout.html.twig" %}

{% block ep_upload_form %}

{{ include('EPUploadBundle:Upload:form.html.twig') }}

{% if docs is defined %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2 id="tables-bordered">Liste des fichiers envoyés</h2>
			  <div class="bs-example" >
			    <table class="table table-bordered">
			      <thead>
			        <tr>
			          <th>id</th>
			          <th>Nom</th>
			          <th>Date d'envoi</th>
			          <th>Supprimer</th>
			        </tr>
			      </thead>
			      <tbody>
				  {% for doc in docs %}
			        <tr>
			          <th scope="row">{{doc.id}}</th>
			          <td>{{doc.alt}}</td>
			          <td>En cours</td>
			          <td><a href="{{ path('ep_delete_file',{'id':doc.id }) }}" class="btn btn-default">X</a></td>
			        </tr>
				  {% endfor %}
			      </tbody>
			    </table>
			  </div><!-- /example -->
		</div>
	</div>
</div>



{% endif %}

{% endblock %}

{# {% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/scripts.min.js') }}"></script>
{% endblock %} #}