{% extends "EPUploadBundle::layout.html.twig" %}

{% block ep_upload_form %}

{{ include('EPUploadBundle:Upload:form.html.twig') }}

{% if docs is defined %}
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2 id="tables-bordered">Liste des fichiers envoyés</h2>
			  <div class="bs-example" >
			    <table class="table table-bordered">
			      <thead>
			        <tr>
			          <th>id</th>
			          <th>Nom</th>
			          <th>Extension</th>
			          <th>Catégorie</th>			          
			          <th>Supprimer</th>
			        </tr>
			      </thead>
			      <tbody>
				  {% for doc in docs %}
			        <tr>
			          <th scope="row">{{doc.id}}</th>
			          <td>{{doc.name}}</td>
			          <td>{{doc.ext}}</td>
			          {% if doc.category.name is defined %}
			          <td>{{doc.category.name}}</td>	
			          {% else %}
			          <td>Catégorie non identifiée</td>
			          {% endif %}		          
			          <td>
			          	<a href="{{ path('ep_delete_file',{'id':doc.id }) }}" class="btn btn-default">X</a>
			          	<a href="{{ asset('uploads/img/34_Benali-Yahia-CV.pdf') }}" class="btn btn-default">U</a>
			          </td>
			        </tr>
				  {% endfor %}
			      </tbody>
			    </table>
			  </div><!-- /example -->
		</div>
	</div>
</div>



{% endif %}

{% endblock %}

{# {% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/scripts.min.js') }}"></script>
{% endblock %} #}