{% extends "::base.html.twig" %}

{% block title %}
  Gérer vos document - {{ parent() }}
{% endblock %}

{% block links %}
    <li>
        <a  href="{{ path('ep_upload_file')}}" class="active-menu">
        	<i class="fa fa-dashboard fa-3x"></i> Gérer vos documents
        </a>
    </li>
{% endblock %}

{% block body %}


{% block ep_upload_form %}
{% endblock %}
{# {{ include('EPUploadBundle:Upload:form.html.twig') }} #}


 {# {{ render(controller("EPUploadBundle:Upload:view")) }} #}
{# {{ include('EPUploadBundle:Upload:view.html.twig') }}        #}
{# {% block ep_upload_view %}
{% endblock %} #}

{% endblock %}