{% extends "EPUploadBundle::layout.html.twig" %}

{% block body %}

{# {{ include('EPUploadBundle:Upload:form.html.twig') }} #}

<h2>Mes produits</h2>

<a href="{{path("ep_edit_produit")}}" class="btn btn-red pull-right" ><i class="fa fa-plus"></i> Nouveau produitt</a>
{% if produits is defined %}

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
                <div class="bs-example" >
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="col-xs-1">Référence</th>
                        <th class="col-xs-7">Désignation</th>
                        <th class="col-xs-1">Prix H.T</th>                      
                        <th class="col-xs-1">TVA</th>                      
                        <th class="col-xs-1">Prix TTC</th>   
                        <th class="col-xs-1"></th>                   
                      </tr>
                    </thead>
                    <tbody>
                    {% for produit in produits %}
                      <tr>
                      	<td>{{ produit.reference }}</td>
                        <td>{{ produit.designation }}</td>
                        <td>{{ produit.montantUnitaireHT|number_format(2,'.') }} €</td>
                        <td>{{ produit.tva }} %</td>
                        <td>{{ produit.montantUnitaireTTC|number_format(2,'.') }} €</td>
                        <td>
                          <a title="Supprimer" href="{{ path('ep_delete_produit', { 'id' : produit.id }) }}" class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                          <a title="Modifier" href="{{ path('ep_modify_produit', {'id' : produit.id }) }}" class="btn btn-default"><i class="fa fa-edit"></i></a>

                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
          </div>
      </div>
  </div>

{% endif %}
{% endblock %}