{% extends "EPUploadBundle::layout.html.twig" %}

{% block body %}

<div class="box">
    
    <div class="box-header">
        Mes Produits
        <div class="box-icon">
            <a href="{{ path('ep_edit_produit') }}"><i class="fa fa-plus"></i> Ajouter un produit</a>
        </div>
    </div>
    <div class="box-content">

            

            <div class="row">
                <form class="col-lg-12">
                
                  <div class="col-lg-2">
                    <div class="form-group">
                        <div class="col-md-12">
                        <select name="type" class="form-control">
                          <option value="reference" {% if app.request.query.get('type') == "reference" %}selected="selected"{% endif %}>Par référence</option>
                          <option value="designation" {% if app.request.query.get('type') == "designation" %}selected="selected"{% endif %}>Par désignation</option>
                        </select>
                        </div>
                    </div>
                  </div>

                  <div class="col-lg-3 col-lg-push-7">
                    <div class="form-group">
                        <div class="input-group col-xs-12">
                            <input type="text" class="form-control" placeholder="Search" name="search" value="{{ app.request.get('search') }}">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                  </div>

              </form>
            </div>



              <table class="table table-striped table-condensed">
                    <thead>
                      <tr>
                        <th class="col-xs-1">Référence</th>
                        <th class="col-xs-7">Désignation</th>
                        <th class="col-xs-1">Prix H.T</th>                      
                        <th class="col-xs-1">TVA</th>                      
                        <th class="col-xs-1">Prix TTC</th>   
                        <th class="col-xs-1"></th>                   
                      </tr>
                    </thead>
                    <tbody>
                    {% for produit in produits %}
                      <tr>
                        <td>{{ produit.reference }}</td>
                        <td>{{ produit.designation }}</td>
                        <td>{{ produit.montantUnitaireHT|number_format(2,'.') }} €</td>
                        <td>{{ produit.tva }} %</td>
                        <td>{{ produit.montantUnitaireTTC|number_format(2,'.') }} €</td>
                        <td>
                          <a title="Supprimer" href="{{ path('ep_delete_produit', { 'id' : produit.id }) }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                          <a title="Modifier" href="{{ path('ep_modify_produit', {'id' : produit.id }) }}" class="btn btn-info"><i class="fa fa-edit"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>


    </div>

</div>

{% endblock %}



{#

{% if produits is defined %}

<nav id="navbar" class="navbar" role="navigation">
    <form class="navbar-form">
      <label>Rechercher : </label>
      <div class="input-group col-xs-2">
        <select name="type" class="col-xs-12">
          <option value="reference" {% if app.request.query.get('type') == "reference" %}selected="selected"{% endif %}>Par référence</option>
          <option value="designation" {% if app.request.query.get('type') == "designation" %}selected="selected"{% endif %}>Par désignation</option>
        </select>
      </div>
      <div class="input-group col-xs-2">
          <input type="text" class="form-control" placeholder="Search" name="search" value="{{ app.request.get('search') }}">
          <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
      </div>


      <div class="navbar-right">
        <a href="{{path("ep_edit_produit")}}" class="btn btn-red pull-right" ><i class="fa fa-plus"></i> Nouveau produitt</a>
      </div>
    </form>
</nav>

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm-12">
                <div class="bs-example" >
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="col-xs-1">Référence</th>
                        <th class="col-xs-7">Désignation</th>
                        <th class="col-xs-1">Prix H.T</th>                      
                        <th class="col-xs-1">TVA</th>                      
                        <th class="col-xs-1">Prix TTC</th>   
                        <th class="col-xs-1"></th>                   
                      </tr>
                    </thead>
                    <tbody>
                    {% for produit in produits %}
                      <tr>
                        <td>{{ produit.reference }}</td>
                        <td>{{ produit.designation }}</td>
                        <td>{{ produit.montantUnitaireHT|number_format(2,'.') }} €</td>
                        <td>{{ produit.tva }} %</td>
                        <td>{{ produit.montantUnitaireTTC|number_format(2,'.') }} €</td>
                        <td>
                          <a title="Supprimer" href="{{ path('ep_delete_produit', { 'id' : produit.id }) }}" class="btn btn-danger"><i class="fa fa-trash-o"></i></a>
                          <a title="Modifier" href="{{ path('ep_modify_produit', {'id' : produit.id }) }}" class="btn btn-info"><i class="fa fa-edit"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
          </div>
      </div>
  </div>

{% endif %}

#}